li {
  background: ##RRGGBB;
  background-image:url(http://data.whicdn.com/images/63906367/large.jpg);
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}
